<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>File Browser</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header onclick="history.back()">⬅ {{ path }}</header>

{% if path == "output" %}
<div class="search-bar">
  <input id="rollSearch" placeholder="Enter roll number">
  <button onclick="searchRoll()">Search</button>
</div>
{% endif %}

<div class="file-container" id="fileBox">

{% for item in items %}
  {% if not item.is_dir %}
  <div class="image-card" data-name="{{ item.name }}">
    <img
      src="/file?path={{ path }}/{{ item.name }}"
      class="{% if path == 'input' %}rotate-left{% endif %}"
      onclick="openPreview(this.src)"
    >
    <div class="file-actions">
      <span class="fname">{{ item.name }}</span>
      <div>
        <button class="mini" onclick="renameFile('{{ path }}/{{ item.name }}')">✏</button>
        <button class="mini danger" onclick="deleteFile('{{ path }}/{{ item.name }}')">🗑</button>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}

</div>

<div id="preview" onclick="closePreview()">
  <img id="previewImg">
</div>

<script>
function deleteFile(path){
  if(!confirm("Delete this image?")) return
  fetch("/delete",{
    method:"POST",
    headers:{ "Content-Type":"application/json" },
    body:JSON.stringify({ path })
  }).then(()=>location.reload())
}

function renameFile(oldPath){
  let base = oldPath.split('/').pop().replace('.jpg','')
  let folder = oldPath.split('/').slice(0,-1).join('/')
  let n = prompt("New filename", base)
  if(!n) return
  fetch("/rename",{
    method:"POST",
    headers:{ "Content-Type":"application/json" },
    body:JSON.stringify({
      old: oldPath,
      new: folder+"/"+n+".jpg"
    })
  }).then(()=>location.reload())
}

function openPreview(src){
  previewImg.src = src
  preview.style.display="flex"
}

function closePreview(){
  preview.style.display="none"
}

function searchRoll(){
  let r = rollSearch.value.trim()
  document.querySelectorAll(".image-card").forEach(card=>{
    card.style.display = card.dataset.name.startsWith(r + "_") ? "block" : "none"
  })
}
</script>

</body>
</html>
